:root {
    --main-color: #3906f3bb;
    --second-color: #2D64FA;
    --third-color: #0E7BE6;
    --forth-color: #5FD4FA;
    --forth-color-t: #5fd3fa94;
    --font-base:'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

header {
    width: 100%;
    height: 70px;
}

body {
    background-color: var(--main-color);
}

/*=====================HEADER===============================*/
.main-nav {
    width: 80%;
    height: 70px;
    display:flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.main-nav span a {
    font-size: 2.7rem;
    font-family: var(--font-base);
    font-weight: bold;
    color: whitesmoke;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    font-size: 1.4rem;
    font-family: var(--font-base);
    font-weight: bolder;
    list-style: none;
}
.nav-menu li a {
    padding: 35px 30px;
    text-decoration: none;
    color: whitesmoke;
}

div .search-bar {
    width: 150px;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    outline-style: none;
}

div .search-button {
    position: absolute;
    width: 30px;
    height: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    outline-style: none;
    cursor: pointer;
    text-indent: 5px;
    background-image: url(./assets/icons/lupa.svg);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position-x: center;
    background-position-y: center ;
}

/*=====================HERO===============================*/

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0 auto;
}

.hero__h1-container {
    width: 100%;
}

.hero h1 {
    font-family: var(--font-base);
    font-size: 3.5rem;
    font-weight: 600;
    justify-self: center;
    margin-top: 130px;
    margin-left: 200px;
    color: whitesmoke;
    flex-wrap: wrap;
    text-transform: uppercase;
}
.hero h2 {
    font-family: var(--font-base);
    font-size: 5rem;
    justify-self: center;
    margin-left: 200px;
    color: whitesmoke;
    flex-wrap: wrap;
    text-transform: uppercase;
}
.cta-button {
    width: 250px;
    height: 50px;
    align-self: flex-start;
    flex-wrap: wrap;
    margin-top: 10px ;
    margin-left: 200px;
    cursor: pointer;
    

    background: transparent;
    border: solid var(--forth-color);
    border-radius: 10px;
    outline-style: none;

    color: var(--forth-color);
    font-family: var(--font-base);
    font-size: 1.8rem;
    font-weight: bolder;
}


/* .contact-form {
    display: flex;
    align-self: flex-end;
    width: 350px;
    height: 450px;
    background-color: whitesmoke;
 } */


.hero .cards-container {
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    justify-content: center;
    
}

.product-card {
    width: 200px;
    height: 250px;
    background-color: var(--forth-color-t);
    margin-right: 30px;
    margin-top: 60px;
    border-radius: 10px;
}

.product-card {
    text-align: center;
}

.icon-card {

    background-color: violet;
    background-image: url(./assets/icons/estadisticas.svg) no-repeat;
    background-size: ;
}
